/* ex1 ----------------------------------------------------*/
.ex-1-square {
    transition: background 3s;
}
.ex-1-square:hover {
    background: red;
}

/* ex2 ----------------------------------------------------*/
.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* ex3 ----------------------------------------------------*/
.ex-3-square {
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ex4 ----------------------------------------------------*/
.ex-4-square {
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* ex5 ----------------------------------------------------*/

.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2)
}

/* ex6 ----------------------------------------------------*/

.ex-6-img:hover {
    filter: grayscale(1);
}

/* ex7 ----------------------------------------------------*/

.ex-7-img:hover {
    transition: 1s;
    filter: sepia(1);
}

/* ex8 ----------------------------------------------------*/

.ex-8-img {
    transition: filter 2s,
                border-radius 2s;
}

.ex-8-img:hover {
    filter: grayscale(.7);
    border-radius: 7%;
}

/* ex9 ----------------------------------------------------*/

.ex-9-img {
    transition: filter 2s,
                border-radius 2s,
                transform 2s;
}

.ex-9-img:hover {
    filter: sepia(0.8);
    border-radius: 7%;
    transform: scale(1.5);
}

/* ex10 ----------------------------------------------------*/

.ex-10-icon {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

/* ex11 ----------------------------------------------------*/

.ex-11-icon:hover {
    animation-name: rotation;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    

}

@keyframes rotation {

    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(330deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ex12 ----------------------------------------------------*/

.ex-12-button:hover .ex-12-top-white {
    animation: topwhite 2.5s linear;
}

@keyframes topwhite {
    0% {
        left: 10%;
    } 

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottomwhite 2.5s linear;
}

@keyframes bottomwhite {
    0% {
        right: 20%;
    } 

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}

/* ex13 ----------------------------------------------------*/

.ex-13-button:hover .ex-13-top-white {
    animation: topwhiteCircle 2s linear;
}
@keyframes topwhiteCircle {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: bottomwhiteCircle 2s linear;
}
@keyframes bottomwhiteCircle {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}